In [1]:
import duckdb

In [2]:
duckdb.sql("DROP TABLE IF EXISTS employees")
duckdb.sql("CREATE TABLE employees AS SELECT * FROM 'Employee.csv'")

# Basic Exploration

In [3]:
duckdb.sql("""
          SELECT * FROM employees LIMIT 5
           """)

┌─────────────┬──────────────────┬─────────┬───────┬────────────┬────────────────────────────┬──────────────────┬─────────────────┬───────────────────┬────────────────┬─────────────────────┬──────────────────┬────────────────┬───────────┬───────────────────────┬───────────┬────────────────┬────────────┬─────────────────────────────┬──────────┐
│ Employee_ID │    Department    │ Gender  │  Age  │ Job_Title  │         Hire_Date          │ Years_At_Company │ Education_Level │ Performance_Score │ Monthly_Salary │ Work_Hours_Per_Week │ Projects_Handled │ Overtime_Hours │ Sick_Days │ Remote_Work_Frequency │ Team_Size │ Training_Hours │ Promotions │ Employee_Satisfaction_Score │ Resigned │
│    int64    │     varchar      │ varchar │ int64 │  varchar   │         timestamp          │      int64       │     varchar     │       int64       │     double     │        int64        │      int64       │     int64      │   int64   │         int64         │   int64   │     int64      │   int64    │           double            │ boolean  │
├─────────────┼──────────────────┼─────────┼───────┼────────────┼────────────────────────────┼──────────────────┼─────────────────┼───────────────────┼────────────────┼─────────────────────┼──────────────────┼────────────────┼───────────┼───────────────────────┼───────────┼────────────────┼────────────┼─────────────────────────────┼──────────┤
│           1 │ IT               │ Male    │    55 │ Specialist │ 2022-01-19 08:03:05.556036 │                2 │ High School     │                 5 │         6750.0 │                  33 │               32 │             22 │         2 │                     0 │        14 │             66 │          0 │                        2.63 │ false    │
│           2 │ Finance          │ Male    │    29 │ Developer  │ 2024-04-18 08:03:05.556036 │                0 │ High School     │                 5 │         7500.0 │                  34 │               34 │             13 │        14 │                   100 │        12 │             61 │          2 │                        1.72 │ false    │
│           3 │ Finance          │ Male    │    55 │ Specialist │ 2015-10-26 08:03:05.556036 │                8 │ High School     │                 3 │         5850.0 │                  37 │               27 │              6 │         3 │                    50 │        10 │              1 │          0 │                        3.17 │ false    │
│           4 │ Customer Support │ Female  │    48 │ Analyst    │ 2016-10-22 08:03:05.556036 │                7 │ Bachelor        │                 2 │         4800.0 │                  52 │               10 │             28 │        12 │                   100 │        10 │              0 │          1 │                        1.86 │ false    │
│           5 │ Engineering      │ Female  │    36 │ Analyst    │ 2021-07-23 08:03:05.556036 │                3 │ Bachelor        │                 2 │         4800.0 │                  38 │               11 │             29 │        13 │                   100 │        15 │              9 │          1 │                        1.25 │ false    │
└─────────────┴──────────────────┴─────────┴───────┴────────────┴────────────────────────────┴──────────────────┴─────────────────┴───────────────────┴────────────────┴─────────────────────┴──────────────────┴────────────────┴───────────┴───────────────────────┴───────────┴────────────────┴────────────┴─────────────────────────────┴──────────┘

In [4]:
duckdb.sql("""
          DESCRIBE employees 
           """)

┌─────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│         column_name         │ column_type │  null   │   key   │ default │  extra  │
│           varchar           │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ Employee_ID                 │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Department                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Gender                      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Age                         │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Job_Title                   │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Hire_Date                   │ TIMESTAMP   │ YES     │ NULL    │ NULL    │ NULL    │
│ Years_At_Company            │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Education_Level             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Performance_Score           │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Monthly_Salary              │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ Work_Hours_Per_Week         │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Projects_Handled            │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Overtime_Hours              │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Sick_Days                   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Remote_Work_Frequency       │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Team_Size                   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Training_Hours              │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Promotions                  │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Employee_Satisfaction_Score │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ Resigned                    │ BOOLEAN     │ YES     │ NULL    │ NULL    │ NULL    │
├─────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 20 rows                                                                 6 columns │
└───────────────────────────────────────────────────────────────────────────────────┘

# Salary and Compensation Insights

## Avg_Salary by Department, Job_Title

In [ ]:
# Getting Min, Max, and Avg Salary by Department and Job_Title

duckdb.sql("""
         SELECT 
            Department,
            Job_Title,
            MIN(Monthly_Salary) AS Min_Salary,
            MAX(Monthly_Salary) AS Max_Salary,
            ROUND(AVG(Monthly_Salary),2) AS Avg_Salary,
            Count(Employee_ID) AS Number_of_Employees
         FROM employees
         GROUP BY
            Department, Job_Title
         ORDER BY 
            Department, Avg_Salary DESC
          """)

┌──────────────────┬────────────┬────────────┬────────────┬────────────┬─────────────────────┐
│    Department    │ Job_Title  │ Min_Salary │ Max_Salary │ Avg_Salary │ Number_of_Employees │
│     varchar      │  varchar   │   double   │   double   │   double   │        int64        │
├──────────────────┼────────────┼────────────┼────────────┼────────────┼─────────────────────┤
│ Customer Support │ Engineer   │     6600.0 │     9000.0 │    7794.65 │                1570 │
│ Customer Support │ Manager    │     6600.0 │     9000.0 │    7792.43 │                1585 │
│ Customer Support │ Consultant │     6050.0 │     8250.0 │    7151.77 │                1558 │
│ Customer Support │ Developer  │     5500.0 │     7500.0 │     6517.9 │                1620 │
│ Customer Support │ Specialist │     4950.0 │     6750.0 │    5872.91 │                1630 │
│ Customer Support │ Analyst    │     4400.0 │     6000.0 │    5192.92 │                1582 │
│ Customer Support │ Technician │     3850.0 │     5250.0 │    4524.16 │                1571 │
│ Engineering      │ Engineer   │     6600.0 │     9000.0 │    7840.61 │                1566 │
│ Engineering      │ Manager    │     6600.0 │     9000.0 │     7818.5 │                1557 │
│ Engineering      │ Consultant │     6050.0 │     8250.0 │    7113.04 │                1518 │
│     ·            │     ·      │        ·   │        ·   │       ·    │                  ·  │
│     ·            │     ·      │        ·   │        ·   │       ·    │                  ·  │
│     ·            │     ·      │        ·   │        ·   │       ·    │                  ·  │
│ Operations       │ Specialist │     4950.0 │     6750.0 │    5878.49 │                1611 │
│ Operations       │ Analyst    │     4400.0 │     6000.0 │    5196.42 │                1565 │
│ Operations       │ Technician │     3850.0 │     5250.0 │    4544.22 │                1635 │
│ Sales            │ Engineer   │     6600.0 │     9000.0 │    7821.72 │                1602 │
│ Sales            │ Manager    │     6600.0 │     9000.0 │    7790.81 │                1567 │
│ Sales            │ Consultant │     6050.0 │     8250.0 │    7142.38 │                1587 │
│ Sales            │ Developer  │     5500.0 │     7500.0 │    6479.62 │                1644 │
│ Sales            │ Specialist │     4950.0 │     6750.0 │    5844.21 │                1631 │
│ Sales            │ Analyst    │     4400.0 │     6000.0 │    5197.66 │                1540 │
│ Sales            │ Technician │     3850.0 │     5250.0 │    4554.96 │                1551 │
├──────────────────┴────────────┴────────────┴────────────┴────────────┴─────────────────────┤
│ 63 rows (20 shown)                                                               6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

## Identifying High-Salary Outliers: A Departmental and Job-Level Analysis Using Standard Deviation Thresholds

In [ ]:
duckdb.sql("""
WITH Salary_Stats AS (
    SELECT 
        Employee_ID,
        Department,
        Job_Title,
        Monthly_Salary * 12 AS Annual_Salary,
        ROUND(AVG(Monthly_Salary * 12) OVER (PARTITION BY Department, Job_Title), 2) AS Avg_Annual_Salary,
        ROUND(STDDEV(Monthly_Salary * 12) OVER (PARTITION BY Department, Job_Title), 2) AS Salary_StdDev
    FROM employees
),
Salary_Variance AS (
    SELECT
        Department,
        Job_Title,
        Employee_ID,
        Annual_Salary,
        Avg_Annual_Salary,
        Salary_StdDev,
        ROUND((Annual_Salary - Avg_Annual_Salary) / Salary_StdDev, 2) AS Std_Dev_Multiple
    FROM Salary_Stats
    WHERE Salary_StdDev > 0 -- Avoid division by zero
)
SELECT 
    Department,
    Job_Title,
    COUNT(Employee_ID) AS Number_Of_Employees,
    MAX(Std_Dev_Multiple) AS Max_Std_Dev_Multiple,
    Annual_Salary,
    Avg_Annual_Salary,
    ROUND(Annual_Salary - Avg_Annual_Salary, 2) As Salary_Difference
FROM Salary_Variance
GROUP BY Department, Job_Title, Annual_Salary, Avg_Annual_Salary
ORDER BY Max_Std_Dev_Multiple DESC, Salary_Difference DESC
LIMIT 10;
""")

┌──────────────────┬────────────┬─────────────────────┬──────────────────────┬───────────────┬───────────────────┬───────────────────┐
│    Department    │ Job_Title  │ Number_Of_Employees │ Max_Std_Dev_Multiple │ Annual_Salary │ Avg_Annual_Salary │ Salary_Difference │
│     varchar      │  varchar   │        int64        │        double        │    double     │      double       │      double       │
├──────────────────┼────────────┼─────────────────────┼──────────────────────┼───────────────┼───────────────────┼───────────────────┤
│ Marketing        │ Developer  │                 249 │                  1.5 │       90000.0 │           77488.1 │           12511.9 │
│ Finance          │ Engineer   │                 268 │                 1.49 │      108000.0 │          93028.06 │          14971.94 │
│ Customer Support │ Technician │                 279 │                 1.48 │       63000.0 │          54289.88 │           8710.12 │
│ Legal            │ Analyst    │                 299 │                 1.47 │       72000.0 │          62080.59 │           9919.41 │
│ Marketing        │ Consultant │                 289 │                 1.46 │       99000.0 │          85498.07 │          13501.93 │
│ Legal            │ Engineer   │                 283 │                 1.45 │      108000.0 │          93289.18 │          14710.82 │
│ HR               │ Engineer   │                 300 │                 1.45 │      108000.0 │          93356.41 │          14643.59 │
│ Sales            │ Developer  │                 313 │                 1.45 │       90000.0 │          77755.47 │          12244.53 │
│ Marketing        │ Technician │                 321 │                 1.45 │       63000.0 │          54417.72 │           8582.28 │
│ IT               │ Technician │                 296 │                 1.45 │       63000.0 │          54456.66 │           8543.34 │
├──────────────────┴────────────┴─────────────────────┴──────────────────────┴───────────────┴───────────────────┴───────────────────┤
│ 10 rows                                                                                                                  7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## By Gender

┌──────────────────┬────────────┬─────────┬────────────┐
│    Department    │ Job_Title  │ Gender  │ Avg_Salary │
│     varchar      │  varchar   │ varchar │   double   │
├──────────────────┼────────────┼─────────┼────────────┤
│ Customer Support │ Analyst    │ Male    │    5226.77 │
│ Customer Support │ Consultant │ Other   │    7344.79 │
│ Customer Support │ Developer  │ Male    │    6523.13 │
│ Customer Support │ Engineer   │ Other   │    7821.82 │
│ Customer Support │ Manager    │ Female  │    7829.92 │
│ Customer Support │ Specialist │ Other   │    5964.55 │
│ Customer Support │ Technician │ Male    │    4531.35 │
│ Engineering      │ Analyst    │ Female  │    5205.38 │
│ Engineering      │ Consultant │ Female  │    7120.82 │
│ Engineering      │ Developer  │ Other   │     6561.4 │
│     ·            │    ·       │  ·      │        ·   │
│     ·            │    ·       │  ·      │        ·   │
│     ·            │    ·       │  ·      │        ·   │
│ Operations       │ Manager    │ Male    │    7840.57 │
│ Operations       │ Specialist │ Other   │     5940.0 │
│ Operations       │ Technician │ Male    │    4553.29 │
│ Sales            │ Analyst    │ Male    │    5201.06 │
│ Sales            │ Consultant │ Other   │    7255.77 │
│ Sales            │ Developer  │ Male    │    6483.83 │
│ Sales            │ Engineer   │ Male    │    7833.11 │
│ Sales            │ Manager    │ Other   │    7817.14 │
│ Sales            │ Specialist │ Other   │    5863.24 │
│ Sales            │ Technician │ Female  │    4577.06 │
├──────────────────┴────────────┴─────────┴────────────┤
│ 63 rows (20 shown)                         4 columns │
└──────────────────────────────────────────────────────┘

## High School Graduates Earning Top Salaries: Identifying Departments and Job Titles Where High School Education Leads the Pay Scale

In [61]:
duckdb.sql("""
WITH Avg_Salary_by_Education AS (
    SELECT 
        Department,
        Job_Title,
        Education_Level,
        COUNT(Employee_ID) AS Number_Of_Employees,
        ROUND(AVG(Monthly_Salary * 12), 2) AS Avg_Annual_Salary,
        ROW_NUMBER() OVER (PARTITION BY Department, Job_Title ORDER BY AVG(Monthly_Salary * 12) DESC) AS Rank
    FROM employees
    GROUP BY Department, Job_Title, Education_Level
)
SELECT 
    Department,
    Job_Title,
    Education_Level,
    Number_Of_Employees,
    Avg_Annual_Salary,
    RANK
FROM Avg_Salary_by_Education
WHERE (Education_Level = 'High School') AND (RANK = 1)
ORDER BY Department, Job_Title, Rank DESC;
""")

┌─────────────┬────────────┬─────────────────┬─────────────────────┬───────────────────┬───────┐
│ Department  │ Job_Title  │ Education_Level │ Number_Of_Employees │ Avg_Annual_Salary │ Rank  │
│   varchar   │  varchar   │     varchar     │        int64        │      double       │ int64 │
├─────────────┼────────────┼─────────────────┼─────────────────────┼───────────────────┼───────┤
│ Engineering │ Manager    │ High School     │                 444 │          94605.41 │     1 │
│ Engineering │ Technician │ High School     │                 462 │          55390.91 │     1 │
│ HR          │ Developer  │ High School     │                 486 │          78172.84 │     1 │
│ HR          │ Specialist │ High School     │                 466 │          70559.23 │     1 │
│ IT          │ Developer  │ High School     │                 483 │          77975.16 │     1 │
│ Legal       │ Manager    │ High School     │                 492 │          93848.78 │     1 │
│ Marketing   │ Consultant │ High School     │                 454 │          85654.63 │     1 │
│ Marketing   │ Engineer   │ High School     │                 516 │          94311.63 │     1 │
│ Operations  │ Specialist │ High School     │                 499 │          71520.24 │     1 │
└─────────────┴────────────┴─────────────────┴─────────────────────┴───────────────────┴───────┘

Managers can achieve the highest salaries in their departments even with only a High School degree. In the IT department, Developers with a High School degree can earn notably high salaries.

# Work-Life Balance Metrics

Before Analysis, let's get some max and min for some key fields

In [ ]:
duckdb.sql("""
            SELECT 
               max(Work_Hours_Per_Week) as Max_Work,
               min(Work_Hours_Per_Week) as Min_Work,
               max(Overtime_Hours) As max_over,
               min(Overtime_Hours) As min_over,
               max(Sick_Days) as Max_Sick_Days,
               min(Sick_Days) as min_sickdays,
               max(Remote_Work_Frequency) as max_remote,
               min(Remote_Work_Frequency) as min_remote
            FROM employees
           
          """)

┌──────────┬──────────┬──────────┬──────────┬───────────────┬──────────────┬────────────┬────────────┐
│ Max_Work │ Min_Work │ max_over │ min_over │ Max_Sick_Days │ min_sickdays │ max_remote │ min_remote │
│  int64   │  int64   │  int64   │  int64   │     int64     │    int64     │   int64    │   int64    │
├──────────┼──────────┼──────────┼──────────┼───────────────┼──────────────┼────────────┼────────────┤
│       60 │       30 │       29 │        0 │            14 │            0 │        100 │          0 │
└──────────┴──────────┴──────────┴──────────┴───────────────┴──────────────┴────────────┴────────────┘

Looks like longer working hour can decrease employees satisfaction

## Is there a relationship between remote work frequency and sick days taken?

In [94]:
duckdb.sql("""
    WITH RankedSickDays AS (
        SELECT
            Department,
            Remote_Work_Frequency,
            COUNT(Employee_ID) AS Number_of_Employees,
            ROUND(AVG(Sick_Days), 3) AS Avg_Sick_Days,
            ROW_NUMBER() OVER (PARTITION BY Department ORDER BY AVG(Sick_Days) DESC) AS RANK
        FROM employees
        GROUP BY Department, Remote_Work_Frequency
    )
    SELECT
        Department,
        Remote_Work_Frequency,
        Number_of_Employees,
        Avg_Sick_Days,
        RANK
    FROM RankedSickDays
    WHERE RANK = 1 OR RANK = 5
    ORDER BY RANK, Avg_Sick_Days DESC
""")

┌──────────────────┬───────────────────────┬─────────────────────┬───────────────┬───────┐
│    Department    │ Remote_Work_Frequency │ Number_of_Employees │ Avg_Sick_Days │ RANK  │
│     varchar      │         int64         │        int64        │    double     │ int64 │
├──────────────────┼───────────────────────┼─────────────────────┼───────────────┼───────┤
│ Finance          │                     0 │                2199 │         7.229 │     1 │
│ Customer Support │                   100 │                2248 │         7.184 │     1 │
│ Sales            │                    75 │                2288 │          7.18 │     1 │
│ IT               │                   100 │                2178 │         7.145 │     1 │
│ Engineering      │                    50 │                2142 │         7.102 │     1 │
│ HR               │                   100 │                2145 │          7.09 │     1 │
│ Marketing        │                     0 │                2163 │         7.083 │     1 │
│ Legal            │                    50 │                2184 │         7.056 │     1 │
│ Operations       │                     0 │                2275 │         7.043 │     1 │
│ HR               │                    75 │                2138 │         6.964 │     5 │
│ IT               │                     0 │                2214 │          6.95 │     5 │
│ Finance          │                    75 │                2286 │         6.928 │     5 │
│ Customer Support │                    25 │                2201 │         6.927 │     5 │
│ Engineering      │                    25 │                2258 │          6.92 │     5 │
│ Marketing        │                    25 │                2335 │         6.856 │     5 │
│ Operations       │                    75 │                2227 │         6.855 │     5 │
│ Sales            │                    50 │                2106 │          6.85 │     5 │
│ Legal            │                    25 │                2237 │         6.831 │     5 │
├──────────────────┴───────────────────────┴─────────────────────┴───────────────┴───────┤
│ 18 rows                                                                      5 columns │
└────────────────────────────────────────────────────────────────────────────────────────┘

Looks like there is no relationship between Remote_Work_Frequency and avg_sick_days

## How does overtime correlate with employee satisfaction? Show Overtime Situation by Department As well

In [ ]:
duckdb.sql("""
  WITH DepartmentStats AS (
    SELECT
      Department,
      Count(Employee_ID) AS Total_Employees_by_Department,
    FROM employees
    GROUP BY Department
           ),
  OvertimeStats AS (
    SELECT
      Department,
      CASE
        WHEN Overtime_Hours BETWEEN 0 AND 9 THEN '<10HOURS'
        WHEN Overtime_Hours BETWEEN 10 AND 20 THEN '10-20HOURS'
        ELSE '20+HOURS'
      END AS Overtime_category,
      ROUND(AVG(Employee_Satisfaction_Score),3) AS Avg_satisfaction,
      COUNT(Employee_ID) AS Number_Of_Employees_By_Category
    FROM employees
    GROUP BY
      Department, Overtime_category         
           )
  SELECT
    ds.Department as Department,
    os.Overtime_category as Overtime_category,
    os.Number_Of_Employees_By_Category as Number_Of_Employees_By_Category,
    ds.Total_Employees_by_Department as Total_Employees_by_Department,
    ROUND( 100 * os.Number_Of_Employees_By_Category / ds.Total_Employees_by_Department ,2) as Overtime_Percentage_by_Department,
    os.Avg_satisfaction as Avg_satisfaction_by_category
  FROM DepartmentStats ds
  JOIN OvertimeStats os
  ON ds.Department = os.Department
  ORDER BY 
           ds.Department, Avg_satisfaction DESC
""")

┌──────────────────┬───────────────────┬─────────────────────────────────┬───────────────────────────────┬───────────────────────────────────┬──────────────────────────────┐
│    Department    │ Overtime_category │ Number_Of_Employees_By_Category │ Total_Employees_by_Department │ Overtime_Percentage_by_Department │ Avg_satisfaction_by_category │
│     varchar      │      varchar      │              int64              │             int64             │              double               │            double            │
├──────────────────┼───────────────────┼─────────────────────────────────┼───────────────────────────────┼───────────────────────────────────┼──────────────────────────────┤
│ Customer Support │ <10HOURS          │                            3775 │                         11116 │                             33.96 │                        2.981 │
│ Customer Support │ 10-20HOURS        │                            4056 │                         11116 │                             36.49 │                        2.963 │
│ Customer Support │ 20+HOURS          │                            3285 │                         11116 │                             29.55 │                        2.959 │
│ Engineering      │ <10HOURS          │                            3593 │                         10956 │                             32.79 │                        3.032 │
│ Engineering      │ 20+HOURS          │                            3336 │                         10956 │                             30.45 │                        3.007 │
│ Engineering      │ 10-20HOURS        │                            4027 │                         10956 │                             36.76 │                        2.974 │
│ Finance          │ 10-20HOURS        │                            4063 │                         11200 │                             36.28 │                        3.014 │
│ Finance          │ 20+HOURS          │                            3327 │                         11200 │                             29.71 │                        3.011 │
│ Finance          │ <10HOURS          │                            3810 │                         11200 │                             34.02 │                        2.986 │
│ HR               │ <10HOURS          │                            3598 │                         10960 │                             32.83 │                        3.007 │
│ ·                │    ·              │                              ·  │                           ·   │                               ·   │                          ·   │
│ ·                │    ·              │                              ·  │                           ·   │                               ·   │                          ·   │
│ ·                │    ·              │                              ·  │                           ·   │                               ·   │                          ·   │
│ Legal            │ 20+HOURS          │                            3354 │                         11118 │                             30.17 │                        2.963 │
│ Marketing        │ 20+HOURS          │                            3362 │                         11216 │                             29.98 │                        3.021 │
│ Marketing        │ 10-20HOURS        │                            4121 │                         11216 │                             36.74 │                        2.996 │
│ Marketing        │ <10HOURS          │                            3733 │                         11216 │                             33.28 │                        2.968 │
│ Operations       │ 20+HOURS          │                            3407 │                         11181 │                             30.47 │                        3.044 │
│ Operations       │ 10-20HOURS        │                            4055 │                         11181 │                             36.27 │                        3.022 │
│ Operations       │ <10HOURS          │                            3719 │                         11181 │                             33.26 │                        3.014 │
│ Sales            │ 20+HOURS          │                            3365 │                         11122 │                             30.26 │                        3.004 │
│ Sales            │ <10HOURS          │                            3751 │                         11122 │                             33.73 │                        2.999 │
│ Sales            │ 10-20HOURS        │                            4006 │                         11122 │                             36.02 │                        2.979 │
├──────────────────┴───────────────────┴─────────────────────────────────┴───────────────────────────────┴───────────────────────────────────┴──────────────────────────────┤
│ 27 rows (20 shown)                                                                                                                                              6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

## The Percentage of People overtime in the company and the comparsion of overtime and non-overtime satisfication

In [66]:
duckdb.sql("""
  WITH OvertimeStats AS (
      SELECT 
          Department,
          SUM(CASE WHEN Overtime_Hours > 0 THEN 1 ELSE 0 END) AS Overtime_Employees,
          COUNT(Employee_ID) AS Total_Employees,
          ROUND(AVG(CASE WHEN Overtime_Hours > 0 THEN Employee_Satisfaction_Score ELSE NULL END), 3) AS Avg_satisfaction_For_OT_Employees
      FROM 
          employees
      GROUP BY
          Department
  ),
  NoOvertimeStats AS (
      SELECT
          Department,
          ROUND(AVG(Employee_Satisfaction_Score), 3) AS Avg_satisfaction_For_No_OT_Employees
      FROM 
          employees
      WHERE 
          Overtime_Hours < 1
      GROUP BY 
          Department
  )
  SELECT 
      os.Department,
      ROUND(100.0 * os.Overtime_Employees / os.Total_Employees, 2) AS Overtime_Employees_Percentage,
      os.Total_Employees,
      os.Avg_satisfaction_For_OT_Employees,
      nos.Avg_satisfaction_For_No_OT_Employees,
      CASE
           WHEN  os.Avg_satisfaction_For_OT_Employees > nos.Avg_satisfaction_For_No_OT_Employees then 'Yes'
           ELSE 'No'
    END AS Satisfication_higher_for_overtime
  FROM 
      OvertimeStats os
  LEFT JOIN 
      NoOvertimeStats nos
  ON 
      os.Department = nos.Department
  ORDER BY 
      Satisfication_higher_for_overtime DESC
""")

┌──────────────────┬───────────────────────────────┬─────────────────┬───────────────────────────────────┬──────────────────────────────────────┬───────────────────────────────────┐
│    Department    │ Overtime_Employees_Percentage │ Total_Employees │ Avg_satisfaction_For_OT_Employees │ Avg_satisfaction_For_No_OT_Employees │ Satisfication_higher_for_overtime │
│     varchar      │            double             │      int64      │              double               │                double                │              varchar              │
├──────────────────┼───────────────────────────────┼─────────────────┼───────────────────────────────────┼──────────────────────────────────────┼───────────────────────────────────┤
│ HR               │                         96.69 │           10960 │                             2.998 │                                2.905 │ Yes                               │
│ Finance          │                         96.62 │           11200 │                             3.006 │                                2.958 │ Yes                               │
│ Legal            │                          96.8 │           11118 │                             2.986 │                                2.958 │ Yes                               │
│ IT               │                         96.94 │           11131 │                             3.025 │                                2.966 │ Yes                               │
│ Operations       │                         96.76 │           11181 │                             3.026 │                                3.012 │ Yes                               │
│ Marketing        │                         96.67 │           11216 │                             2.996 │                                2.929 │ Yes                               │
│ Sales            │                         96.42 │           11122 │                             2.995 │                                2.955 │ Yes                               │
│ Customer Support │                         96.55 │           11116 │                             2.968 │                                2.977 │ No                                │
│ Engineering      │                         96.63 │           10956 │                             3.001 │                                 3.06 │ No                                │
└──────────────────┴───────────────────────────────┴─────────────────┴───────────────────────────────────┴──────────────────────────────────────┴───────────────────────────────────┘

Except for Customer Support and Engineering Department, Avg Satisfication is higher for other departments if they don't need to work over time

# Employee Engagement

## How does work hours per week impact performance scores across different departments?

In [68]:
duckdb.sql("""
  SELECT
    Department,
    CASE
      WHEN Work_Hours_Per_Week <= 40 THEN 'Less than or Equal 40 Hours'
      WHEN Work_Hours_Per_Week BETWEEN 40 AND 60 THEN '40 to 60 Hours'
      WHEN Work_Hours_Per_Week > 60 THEN 'More than 60 Hours'
    END as WorkHour_Category,
    ROUND(AVG(Employee_Satisfaction_Score),3) AS Avg_satisfaction
  FROM
    employees
  GROUP BY
    Department, WorkHour_Category
  ORDER BY
    Department, Avg_satisfaction DESC
           
           """)

┌──────────────────┬─────────────────────────────┬──────────────────┐
│    Department    │      WorkHour_Category      │ Avg_satisfaction │
│     varchar      │           varchar           │      double      │
├──────────────────┼─────────────────────────────┼──────────────────┤
│ Customer Support │ Less than or Equal 40 Hours │            2.969 │
│ Customer Support │ 40 to 60 Hours              │            2.968 │
│ Engineering      │ Less than or Equal 40 Hours │            3.015 │
│ Engineering      │ 40 to 60 Hours              │            2.997 │
│ Finance          │ Less than or Equal 40 Hours │            3.019 │
│ Finance          │ 40 to 60 Hours              │            2.996 │
│ HR               │ Less than or Equal 40 Hours │            3.018 │
│ HR               │ 40 to 60 Hours              │            2.982 │
│ IT               │ Less than or Equal 40 Hours │            3.025 │
│ IT               │ 40 to 60 Hours              │            3.022 │
│ Legal            │ 40 to 60 Hours              │            2.998 │
│ Legal            │ Less than or Equal 40 Hours │            2.961 │
│ Marketing        │ Less than or Equal 40 Hours │            3.014 │
│ Marketing        │ 40 to 60 Hours              │            2.983 │
│ Operations       │ 40 to 60 Hours              │            3.037 │
│ Operations       │ Less than or Equal 40 Hours │            3.005 │
│ Sales            │ Less than or Equal 40 Hours │            2.998 │
│ Sales            │ 40 to 60 Hours              │            2.991 │
├──────────────────┴─────────────────────────────┴──────────────────┤
│ 18 rows                                                 3 columns │
└───────────────────────────────────────────────────────────────────┘

## How does training impact employee satisfaction and performance, group by department and training level, order by performance

In [13]:
duckdb.sql("""
        SELECT
           Department,
           CASE
            WHEN Training_Hours < 20 THEN 'LOW'
            WHEN Training_Hours BETWEEN 20 AND 40 THEN 'MEDIUM'
            ELSE 'HIGH'
           END AS Training_level,
           ROUND(AVG(Employee_Satisfaction_Score),3) AS Avg_satisfaction,
           ROUND(AVG(PerfoRmance_Score),3) AS Avg_performance
        FROM employees
        GROUP BY Department, Training_level
        ORDER BY Avg_performance DESC
         LIMIT 10
           """)

┌──────────────────┬────────────────┬──────────────────┬─────────────────┐
│    Department    │ Training_level │ Avg_satisfaction │ Avg_performance │
│     varchar      │    varchar     │      double      │     double      │
├──────────────────┼────────────────┼──────────────────┼─────────────────┤
│ HR               │ MEDIUM         │            2.965 │           3.041 │
│ Operations       │ MEDIUM         │            3.025 │           3.037 │
│ Customer Support │ LOW            │            2.954 │           3.034 │
│ Engineering      │ HIGH           │            2.999 │           3.027 │
│ Sales            │ LOW            │            3.015 │           3.023 │
│ IT               │ HIGH           │            3.036 │           3.017 │
│ Engineering      │ LOW            │            2.994 │           3.015 │
│ Customer Support │ MEDIUM         │            2.995 │           3.009 │
│ Legal            │ LOW            │            3.006 │           3.007 │
│ Engineering      │ MEDIUM         │            3.022 │           3.006 │
├──────────────────┴────────────────┴──────────────────┴─────────────────┤
│ 10 rows                                                      4 columns │
└────────────────────────────────────────────────────────────────────────┘

Doesn't look like training hours affect performace

## Comparative Analysis of Average Performance Scores and Project Handling in Marketing, Customer Support, and Sales Department

In [ ]:
duckdb.sql("""
  WITH ranked_performance AS (
  SELECT
           Department,
           Projects_Handled,
           COUNT(Employee_ID) AS Number_Of_Employees,
           ROUND(AVG(Performance_Score), 3) AS Avg_Performance_Score,
           RANK() OVER (PARTITION BY Department ORDER BY Avg_Performance_Score DESC) AS rank_most,
           RANK() OVER (PARTITION BY Department ORDER BY Avg_Performance_Score ASC) AS rank_less
  FROM     employees
  GROUP BY 
           Department, Projects_Handled
  ORDER BY 
           Department, Projects_Handled DESC
  )
  SELECT 
           Department,
           Projects_Handled,
           Number_Of_Employees,
           Avg_Performance_Score,
           CASE 
              WHEN rank_most <= 3 THEN 'Top 3 Most'
              WHEN rank_less <= 3 THEN 'Top 3 Least'
          END AS Performance_Category
  FROM ranked_performance
  WHERE 
           (rank_most <= 3 OR rank_less <= 3) AND
           Department IN ('Marketing', 'Customer Support', 'Sales')
  ORDER BY 
           Department, Avg_Performance_Score DESC, Projects_Handled DESC;
        
""")

┌──────────────────┬──────────────────┬─────────────────────┬───────────────────────┬──────────────────────┐
│    Department    │ Projects_Handled │ Number_Of_Employees │ Avg_Performance_Score │ Performance_Category │
│     varchar      │      int64       │        int64        │        double         │       varchar        │
├──────────────────┼──────────────────┼─────────────────────┼───────────────────────┼──────────────────────┤
│ Customer Support │               39 │                 185 │                 3.189 │ Top 3 Most           │
│ Customer Support │               11 │                 242 │                 3.182 │ Top 3 Most           │
│ Customer Support │               49 │                 228 │                 3.154 │ Top 3 Most           │
│ Customer Support │               15 │                 225 │                 2.853 │ Top 3 Least          │
│ Customer Support │               21 │                 214 │                 2.818 │ Top 3 Least          │
│ Customer Support │               22 │                 238 │                 2.731 │ Top 3 Least          │
│ Marketing        │               41 │                 240 │                 3.158 │ Top 3 Most           │
│ Marketing        │               13 │                 217 │                 3.138 │ Top 3 Most           │
│ Marketing        │               46 │                 248 │                 3.137 │ Top 3 Most           │
│ Marketing        │               17 │                 226 │                 2.805 │ Top 3 Least          │
│ Marketing        │               14 │                 196 │                 2.765 │ Top 3 Least          │
│ Marketing        │               21 │                 223 │                 2.762 │ Top 3 Least          │
│ Sales            │                3 │                 219 │                 3.201 │ Top 3 Most           │
│ Sales            │               31 │                 201 │                 3.174 │ Top 3 Most           │
│ Sales            │               48 │                 217 │                 3.147 │ Top 3 Most           │
│ Sales            │                9 │                 232 │                 2.845 │ Top 3 Least          │
│ Sales            │               46 │                 239 │                 2.828 │ Top 3 Least          │
│ Sales            │               15 │                 187 │                 2.824 │ Top 3 Least          │
├──────────────────┴──────────────────┴─────────────────────┴───────────────────────┴──────────────────────┤
│ 18 rows                                                                                        5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Performace doesn't show strong relationship with number of projects they handled

## For each department, rank employees based on their performance score, and calculate the percentage difference from the department average.

In [85]:
duckdb.sql("""
  WITH department_avg AS (
  SELECT 
    Department,
    
    ROUND(AVG(Performance_Score), 3) AS avg_performance_score
  FROM employees
  GROUP BY Department
  ),
  performance_rank AS (
  SELECT
    Department,
    Performance_Score,
    COUNT(Employee_ID) AS Number_Of_Employees,
    DENSE_RANK() OVER (PARTITION BY Department ORDER BY Performance_Score DESC) AS dept_rank
  FROM employees
  GROUP BY Department, Performance_Score
  )
  SELECT    
           pr.Department,
           pr.Number_Of_Employees,
           pr.Performance_Score,
           pr.dept_rank,
           da.avg_performance_score,
           ROUND(((pr.Performance_Score - da.avg_performance_score) / da.avg_performance_score) * 100, 2) AS pct_diff_from_avg        
  FROM performance_rank pr
  JOIN department_avg da 
  ON pr.Department = da.Department
  WHERE dept_rank <= 2
  ORDER BY 
           pr.Department, pr.dept_rank
  """)

┌──────────────────┬─────────────────────┬───────────────────┬───────────┬───────────────────────┬───────────────────┐
│    Department    │ Number_Of_Employees │ Performance_Score │ dept_rank │ avg_performance_score │ pct_diff_from_avg │
│     varchar      │        int64        │       int64       │   int64   │        double         │      double       │
├──────────────────┼─────────────────────┼───────────────────┼───────────┼───────────────────────┼───────────────────┤
│ Customer Support │                2215 │                 5 │         1 │                 2.997 │             66.83 │
│ Customer Support │                2226 │                 4 │         2 │                 2.997 │             33.47 │
│ Engineering      │                2270 │                 5 │         1 │                  3.02 │             65.56 │
│ Engineering      │                2144 │                 4 │         2 │                  3.02 │             32.45 │
│ Finance          │                2182 │                 5 │         1 │                 2.981 │             67.73 │
│ Finance          │                2262 │                 4 │         2 │                 2.981 │             34.18 │
│ HR               │                2186 │                 5 │         1 │                 2.997 │             66.83 │
│ HR               │                2182 │                 4 │         2 │                 2.997 │             33.47 │
│ IT               │                2276 │                 5 │         1 │                   3.0 │             66.67 │
│ IT               │                2186 │                 4 │         2 │                   3.0 │             33.33 │
│ Legal            │                2219 │                 5 │         1 │                 2.982 │             67.67 │
│ Legal            │                2196 │                 4 │         2 │                 2.982 │             34.14 │
│ Marketing        │                2165 │                 5 │         1 │                 2.981 │             67.73 │
│ Marketing        │                2225 │                 4 │         2 │                 2.981 │             34.18 │
│ Operations       │                2233 │                 5 │         1 │                 3.007 │             66.28 │
│ Operations       │                2270 │                 4 │         2 │                 3.007 │             33.02 │
│ Sales            │                2182 │                 5 │         1 │                 2.994 │              67.0 │
│ Sales            │                2249 │                 4 │         2 │                 2.994 │              33.6 │
├──────────────────┴─────────────────────┴───────────────────┴───────────┴───────────────────────┴───────────────────┤
│ 18 rows                                                                                                  6 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# Resignation and Retention Insights

## What factors are most strongly correlated with employee resignation?

In [9]:
duckdb.sql("""
      SELECT 
        Department,
        ROUND(AVG(CASE WHEN Resigned = TRUE THEN 1 ELSE 0 END),3) AS resignation_rate,
        ROUND(AVG(Employee_Satisfaction_Score),3) AS avg_satisfaction,
        ROUND(AVG(Performance_Score),3) AS avg_performance,
        ROUND(AVG(Work_Hours_Per_Week),3) AS avg_working_hours,
        ROUND(AVG(Overtime_Hours ),3) AS avg_overtime,
        ROUND(AVG(Monthly_Salary),3) AS avg_salary
      FROM employees
      GROUP BY Department
      ORDER BY resignation_rate DESC;
""")

┌──────────────────┬──────────────────┬──────────────────┬─────────────────┬───────────────────┬──────────────┬────────────┐
│    Department    │ resignation_rate │ avg_satisfaction │ avg_performance │ avg_working_hours │ avg_overtime │ avg_salary │
│     varchar      │      double      │      double      │     double      │      double       │    double    │   double   │
├──────────────────┼──────────────────┼──────────────────┼─────────────────┼───────────────────┼──────────────┼────────────┤
│ Finance          │            0.105 │            3.004 │           2.981 │            44.894 │       14.345 │   6398.576 │
│ HR               │            0.103 │            2.995 │           2.997 │            44.929 │       14.577 │   6400.356 │
│ Legal            │            0.102 │            2.985 │           2.982 │            45.013 │       14.548 │   6391.275 │
│ Marketing        │              0.1 │            2.994 │           2.981 │            44.888 │       14.483 │   6377.858 │
│ Operations       │              0.1 │            3.026 │           3.007 │            44.968 │       14.521 │   6412.307 │
│ Sales            │            0.099 │            2.993 │           2.994 │            45.013 │       14.514 │   6413.154 │
│ Customer Support │            0.099 │            2.968 │           2.997 │            44.907 │       14.384 │   6403.882 │
│ IT               │            0.096 │            3.023 │             3.0 │            44.929 │       14.673 │   6414.599 │
│ Engineering      │            0.096 │            3.003 │            3.02 │            45.074 │       14.593 │   6417.246 │
└──────────────────┴──────────────────┴──────────────────┴─────────────────┴───────────────────┴──────────────┴────────────┘

From above factors chosen, there is no strong correlation with resignation

## Is there a relationship between promotions and employee retention?

In [11]:
duckdb.sql("""
  SELECT 
           Promotions,
           COUNT(*) total_employees,
           SUM(CASE WHEN Resigned = FALSE THEN 1 ELSE 0 END) AS retained_employees,
           ROUND(SUM(CASE WHEN Resigned = FALSE THEN 1 ELSE 0 END) * 100 / count(*),2) AS retained_employees
  FROM employees
  GROUP BY Promotions
  ORDER BY Promotions
           """)

┌────────────┬─────────────────┬────────────────────┬────────────────────┐
│ Promotions │ total_employees │ retained_employees │ retained_employees │
│   int64    │      int64      │       int128       │       double       │
├────────────┼─────────────────┼────────────────────┼────────────────────┤
│          0 │           33296 │              29952 │              89.96 │
│          1 │           33436 │              30093 │               90.0 │
│          2 │           33268 │              29945 │              90.01 │
└────────────┴─────────────────┴────────────────────┴────────────────────┘

The Retained Rate is higher if got promotion

## How does tenure (years at company) affect resignation rates (group by gender)?

In [ ]:
duckdb.sql("""
  SELECT    
            CASE 
              WHEN Years_At_Company < 2 THEN '0-1 years'
              WHEN Years_At_Company BETWEEN 2 AND 5 THEN '2-5 years'
              WHEN Years_At_Company BETWEEN 6 AND 10 THEN '6-10 years'
              ELSE '10+ years'
            END AS tenure_group,
           Gender, 
            COUNT(*) AS total_employees,
            ROUND(SUM(CASE WHEN Resigned = TRUE THEN 1 ELSE 0 END) * 100 / count(*),3) AS resigned_rate
    FROM employees
    GROUP BY tenure_group, Gender
    ORDER BY tenure_group, Gender
           """)

┌──────────────┬─────────┬─────────────────┬───────────────┐
│ tenure_group │ Gender  │ total_employees │ resigned_rate │
│   varchar    │ varchar │      int64      │    double     │
├──────────────┼─────────┼─────────────────┼───────────────┤
│ 0-1 years    │ Female  │            9628 │        10.012 │
│ 0-1 years    │ Male    │            9644 │        10.027 │
│ 0-1 years    │ Other   │             829 │        12.304 │
│ 2-5 years    │ Female  │           19244 │         9.863 │
│ 2-5 years    │ Male    │           19401 │        10.061 │
│ 2-5 years    │ Other   │            1557 │          9.12 │
│ 6-10 years   │ Female  │           19129 │        10.215 │
│ 6-10 years   │ Male    │           18986 │         9.944 │
│ 6-10 years   │ Other   │            1582 │         9.039 │
└──────────────┴─────────┴─────────────────┴───────────────┘

Looks like resigned rate is different between males and female in different serving years group

## Show a Table of Number of Employees, New Hire Employees and Leaving Employees as well as the employees change rate from 2015 to 2022

In [67]:
duckdb.sql("""
WITH   EmploymentStats AS (
              SELECT 
                     Gender,
                     YEAR(Hire_Date) as Hire_year,
                     YEAR(Hire_Date) + Years_At_Company as Leave_Year
              FROM employees
       ),
       YearlyStats AS (
              SELECT 
                     y.Year as Research_Year,
                     es.Gender as Gender,
                     COUNT(*) as Total_Employees,
                     COUNT(*) FILTER (WHERE y.Year = es.Hire_Year) as New_Hires,
                     COUNT(*) FILTER (WHERE y.Year < es.Leave_Year AND y.Year > es.Hire_Year) as Old_Employees,
                     COUNT(*) FILTER (WHERE y.Year = es.Leave_Year) as Left_Employees,
              FROM
                     (SELECT DISTINCT YEAR(Hire_Date) as Year FROM employees WHERE YEAR(Hire_Date) BETWEEN 2015 AND 2023) AS y
              LEFT JOIN EmploymentStats es
                     ON y.Year BETWEEN es.Hire_year AND es.Leave_Year 
              GROUP BY
                     y.Year, es.Gender
              ORDER BY
                     y.Year
              ),
       CurrentPreYearStats AS (
              SELECT
                     Research_Year,
                     Gender,
                     Total_Employees,
                     New_Hires,
                     Old_Employees,
                     Left_Employees,
                     LAG(Total_Employees) OVER (PARTITION BY Gender ORDER BY Research_Year) AS Prev_Employees,
                     LAG(New_Hires) OVER (PARTITION BY Gender ORDER BY Research_Year) AS Prev_New_Hires,
                     LAG(Left_Employees) OVER (PARTITION BY Gender ORDER BY Research_Year) AS Prev_Employees_Leaving
              FROM YearlyStats    
              ORDER BY
                     Research_Year
              )
              SELECT
                     Research_Year,
                     Gender,
                     Total_Employees,
                     New_Hires,
                     Old_Employees,
                     Left_Employees,
                     ROUND((Total_Employees - COALESCE(Prev_Employees, Total_Employees)) / NULLIF(Prev_Employees, 0) * 100, 2) AS Total_Employees_Change_Rate,
                     ROUND((New_Hires - COALESCE(Prev_New_Hires, New_Hires)) / NULLIF(Prev_New_Hires, 0) * 100, 2) AS New_Hire_Employees_Change_Rate,
                     ROUND(New_Hires / Total_Employees * 100, 2) AS New_Hires_of_Total_Percentage,
                     ROUND((Left_Employees - COALESCE(Prev_Employees_Leaving, Left_Employees)) / NULLIF(Prev_Employees_Leaving, 0) * 100, 2) AS Employees_Leaving_Change_Rate
              FROM CurrentPreYearStats
              WHERE Gender in ('Female', 'Male')
              ORDER BY
                     Gender, Research_Year
           """)

┌───────────────┬─────────┬─────────────────┬───────────┬───────────────┬────────────────┬─────────────────────────────┬────────────────────────────────┬───────────────────────────────┬───────────────────────────────┐
│ Research_Year │ Gender  │ Total_Employees │ New_Hires │ Old_Employees │ Left_Employees │ Total_Employees_Change_Rate │ New_Hire_Employees_Change_Rate │ New_Hires_of_Total_Percentage │ Employees_Leaving_Change_Rate │
│     int64     │ varchar │      int64      │   int64   │     int64     │     int64      │           double            │             double             │            double             │            double             │
├───────────────┼─────────┼─────────────────┼───────────┼───────────────┼────────────────┼─────────────────────────────┼────────────────────────────────┼───────────────────────────────┼───────────────────────────────┤
│          2015 │ Female  │            6298 │      4807 │          1491 │              0 │                        NULL │                           NULL │                         76.33 │                          NULL │
│          2016 │ Female  │           11084 │      4786 │          6298 │              0 │                       75.99 │                          -0.44 │                         43.18 │                          NULL │
│          2017 │ Female  │           15859 │      4775 │         11084 │              0 │                       43.08 │                          -0.23 │                         30.11 │                          NULL │
│          2018 │ Female  │           20598 │      4739 │         15859 │              0 │                       29.88 │                          -0.75 │                         23.01 │                          NULL │
│          2019 │ Female  │           25320 │      4722 │         20598 │              0 │                       22.92 │                          -0.36 │                         18.65 │                          NULL │
│          2020 │ Female  │           30200 │      4880 │         25320 │              0 │                       19.27 │                           3.35 │                         16.16 │                          NULL │
│          2021 │ Female  │           35043 │      4843 │         30200 │              0 │                       16.04 │                          -0.76 │                         13.82 │                          NULL │
│          2022 │ Female  │           39970 │      4927 │         35043 │              0 │                       14.06 │                           1.73 │                         12.33 │                          NULL │
│          2023 │ Female  │           44768 │      4798 │         26234 │          15286 │                        12.0 │                          -2.62 │                         10.72 │                          NULL │
│          2015 │ Male    │            6203 │      4710 │          1493 │              0 │                        NULL │                           NULL │                         75.93 │                          NULL │
│          2016 │ Male    │           10909 │      4706 │          6203 │              0 │                       75.87 │                          -0.08 │                         43.14 │                          NULL │
│          2017 │ Male    │           15734 │      4825 │         10909 │              0 │                       44.23 │                           2.53 │                         30.67 │                          NULL │
│          2018 │ Male    │           20568 │      4834 │         15734 │              0 │                       30.72 │                           0.19 │                          23.5 │                          NULL │
│          2019 │ Male    │           25386 │      4818 │         20568 │              0 │                       23.42 │                          -0.33 │                         18.98 │                          NULL │
│          2020 │ Male    │           30186 │      4800 │         25386 │              0 │                       18.91 │                          -0.37 │                          15.9 │                          NULL │
│          2021 │ Male    │           35049 │      4863 │         30186 │              0 │                       16.11 │                           1.31 │                         13.87 │                          NULL │
│          2022 │ Male    │           39885 │      4836 │         35049 │              0 │                        13.8 │                          -0.56 │                         12.12 │                          NULL │
│          2023 │ Male    │           44639 │      4754 │         25964 │          15438 │                       11.92 │                           -1.7 │                         10.65 │                          NULL │
├───────────────┴─────────┴─────────────────┴───────────┴───────────────┴────────────────┴─────────────────────────────┴────────────────────────────────┴───────────────────────────────┴───────────────────────────────┤
│ 18 rows                                                                                                                                                                                                    10 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

For 2024, the latest data is Sep and this results in the decrease of new hire. Superisely, there is no left_employees until 2023 and new hire for both gender are similar each year

# Diversity and Inclusion Metrics

## Show the rank of the salary of age over 60+ group in their department

In [16]:
duckdb.sql("""
WITH Age_Grouped_Salary AS (
    SELECT 
        Department,
        CASE 
            WHEN Age < 20 THEN 'Less than 20'
            WHEN Age BETWEEN 20 AND 29 THEN '20 - 29'
            WHEN Age BETWEEN 30 AND 39 THEN '30 - 39'
            WHEN Age BETWEEN 40 AND 49 THEN '40 - 49'
            WHEN Age BETWEEN 50 AND 59 THEN '50 - 59'
            WHEN Age >= 60 THEN '60+'
        END AS Age_Group,
        ROUND(AVG(Monthly_Salary * 12), 2) AS Annual_Avg_Salary
    FROM employees
    GROUP BY Department, 
             CASE 
                 WHEN Age < 20 THEN 'Less than 20'
                 WHEN Age BETWEEN 20 AND 29 THEN '20 - 29'
                 WHEN Age BETWEEN 30 AND 39 THEN '30 - 39'
                 WHEN Age BETWEEN 40 AND 49 THEN '40 - 49'
                 WHEN Age BETWEEN 50 AND 59 THEN '50 - 59'
                 WHEN Age >= 60 THEN '60+'
             END
)
SELECT 
    Department,
    Age_Group,
    Annual_Avg_Salary,
    ROW_NUMBER() OVER (PARTITION BY Department ORDER BY Annual_Avg_Salary DESC) AS Rank
FROM Age_Grouped_Salary
WHERE Age_Group = '60+'
ORDER BY Department, Rank;
""")

┌──────────────────┬───────────┬───────────────────┬───────┐
│    Department    │ Age_Group │ Annual_Avg_Salary │ Rank  │
│     varchar      │  varchar  │      double       │ int64 │
├──────────────────┼───────────┼───────────────────┼───────┤
│ Customer Support │ 60+       │          77543.82 │     1 │
│ Engineering      │ 60+       │          79131.11 │     1 │
│ Finance          │ 60+       │          77077.42 │     1 │
│ HR               │ 60+       │          76451.21 │     1 │
│ IT               │ 60+       │          76791.58 │     1 │
│ Legal            │ 60+       │          79958.96 │     1 │
│ Marketing        │ 60+       │          77002.68 │     1 │
│ Operations       │ 60+       │          77426.99 │     1 │
│ Sales            │ 60+       │           75417.3 │     1 │
└──────────────────┴───────────┴───────────────────┴───────┘

Wowwww ! People over 60 have highest salary in their department. There is no age discrimination in this company and they more focus on their experiences

## Identifying the Top-Earning Gender Across Departments and Job Titles: A Ranking-Based Analysis

In [30]:
duckdb.sql("""
         With Avg_Stats AS (
           SELECT 
               Department,
               Job_Title,
               Gender,
               ROUND(AVG(Monthly_Salary),2) AS Avg_Salary,
               ROW_NUMBER() OVER (PARTITION BY Department, Job_Title ORDER BY AVG(Monthly_Salary) DESC) AS Ranking
            FROM employees
            GROUP BY
               Department, Job_Title, Gender
            ORDER BY 
               Department, Job_Title, Gender, Avg_Salary DESC
           )
           SELECT
               Department,
               Job_Title,
               Gender,
               Avg_Salary
           FROM
               Avg_Stats
           WHERE
               RANKING = 1
           ORDER BY
                Department, Job_Title
          """)

┌──────────────────┬────────────┬─────────┬────────────┐
│    Department    │ Job_Title  │ Gender  │ Avg_Salary │
│     varchar      │  varchar   │ varchar │   double   │
├──────────────────┼────────────┼─────────┼────────────┤
│ Customer Support │ Analyst    │ Male    │    5226.77 │
│ Customer Support │ Consultant │ Other   │    7344.79 │
│ Customer Support │ Developer  │ Male    │    6523.13 │
│ Customer Support │ Engineer   │ Other   │    7821.82 │
│ Customer Support │ Manager    │ Female  │    7829.92 │
│ Customer Support │ Specialist │ Other   │    5964.55 │
│ Customer Support │ Technician │ Male    │    4531.35 │
│ Engineering      │ Analyst    │ Female  │    5205.38 │
│ Engineering      │ Consultant │ Female  │    7120.82 │
│ Engineering      │ Developer  │ Other   │     6561.4 │
│     ·            │    ·       │  ·      │        ·   │
│     ·            │    ·       │  ·      │        ·   │
│     ·            │    ·       │  ·      │        ·   │
│ Operations       │ Manager    │ Male    │    7840.57 │
│ Operations       │ Specialist │ Other   │     5940.0 │
│ Operations       │ Technician │ Male    │    4553.29 │
│ Sales            │ Analyst    │ Male    │    5201.06 │
│ Sales            │ Consultant │ Other   │    7255.77 │
│ Sales            │ Developer  │ Male    │    6483.83 │
│ Sales            │ Engineer   │ Male    │    7833.11 │
│ Sales            │ Manager    │ Other   │    7817.14 │
│ Sales            │ Specialist │ Other   │    5863.24 │
│ Sales            │ Technician │ Female  │    4577.06 │
├──────────────────┴────────────┴─────────┴────────────┤
│ 63 rows (20 shown)                         4 columns │
└──────────────────────────────────────────────────────┘

## To calculate the gender pay gap percentage by job title. Focusing on employees work in company over ten years and both males an females data existed

In [4]:
duckdb.sql("""
  WITH pay_stats AS (
    SELECT
        Job_Title,
           Gender,
           Years_At_Company,
           ROUND(AVG(Monthly_Salary),2) AS avg_salary,
           COUNT(*) AS employee_count
    FROM employees
    WHERE Years_At_Company
    GROUP BY Job_Title, Gender, Years_At_Company
   
           )
    SELECT
        Job_Title,
        Years_At_Company,
        MAX(CASE WHEN Gender = 'Male' THEN avg_salary END) AS male_avg_salary,
        MAX(CASE WHEN Gender = 'Female' THEN avg_salary END) AS female_avg_salary,
        ROUND((MAX(CASE WHEN Gender = 'Male' THEN avg_salary END) - MAX(CASE WHEN Gender = 'Female' THEN avg_salary END)) /
            MAX(CASE WHEN Gender = 'Male' THEN avg_salary END) * 100,2) AS gender_pay_gap_percentage
    FROM pay_stats
    GROUP BY Job_Title, Years_At_Company
    HAVING COUNT(DISTINCT Gender) = 2 AND male_avg_salary IS NOT NULL AND female_avg_salary IS NOT NULL
    ORDER BY gender_pay_gap_percentage DESC 
""")

┌────────────┬──────────────────┬─────────────────┬───────────────────┬───────────────────────────┐
│ Job_Title  │ Years_At_Company │ male_avg_salary │ female_avg_salary │ gender_pay_gap_percentage │
│  varchar   │      int64       │     double      │      double       │          double           │
├────────────┼──────────────────┼─────────────────┼───────────────────┼───────────────────────────┤
│ Consultant │               10 │          7425.0 │            7150.0 │                       3.7 │
│ Developer  │               10 │          5625.0 │            6400.0 │                    -13.78 │
└────────────┴──────────────────┴─────────────────┴───────────────────┴───────────────────────────┘